    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: hsl(0deg 0% 96.86%);
    }

    .mypage{
    display: flex;
    width: 100%;
    }
    .menuleft{
        border-right: 1px solid black;
        width: 25%;
    }
    .pageright{
        width: 75%;
    }
    .icon__header{
        text-align: left;
        border-bottom: 1px solid rgb(255, 1, 1);
    }
    .icon__header_ul{
        display: flex;
        width: 100%;
        justify-content: end;
    }
    .icon__header_ul li{
        list-style: none;
    }
    .addbutton{
    /* muon xet buuton thtesai width: ; height: ; */
    width: 100px;
    background-color: red;
    height: 50px;
    border-radius: 8px;
    }
    .pageleft2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    }
    .ant-dropdown-linkant-dropdown-trigger{
        border-radius: 8px;
        width: 100px;
        height: 50px
    }
.addhoc .button__ad{
    border: none;
    width: 150px;
    background-color: rgb(22, 218, 22);
    height: 30px;
    border-radius: 4px;
    color: white;
}

/* add hoc  */

.mypage .addhoc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(255, 1, 1);
    box-shadow:4px 4px 4px rgb(222, 218, 213);
}
.box__search{
    background-color: white ;
    width: 100%;
    min-height: 54px;
}
.serearch{
 margin: 50px 0;
    background-color: white;
}
.serearch .input__search input{
    position: relative;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    width: 98%;
    padding: 15px 30px;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 5px 5px 5px #eee;
    margin-left: 10px;
}
.serearch .input__search i {
    display: inline-block;
    position: absolute;
    left: 358px;
    top: 136px; 
    background-color: white;
}
.cate__down{
    background-color: white;
    position: absolute;
    right: 41px;
    top: 135px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.cate__down p,i{
    background-color: white;
}
